{% extends "billing/base.html" %}

{% block title %}Calculate Bill{% endblock %}

{% block content %}
    <h2 class="title">Calculate Bill</h2>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">Month</label>
            <div class="control">
                {{ form.month }}
            </div>
        </div>
        <div class="field">
            <label class="label">Hot Water Usage</label>
            <div class="control">
                {{ form.hot_water }}
            </div>
        </div>
        <div class="field">
            <label class="label">Cold Water Usage</label>
            <div class="control">
                {{ form.cold_water }}
            </div>
        </div>
        <div class="field">
            <label class="label">Electricity Usage</label>
            <div class="control">
                {{ form.electricity }}
            </div>
        </div>
        <div class="field">
            <label class="label">Sewage Usage</label>
            <div class="control">
                {{ form.sewage }}
            </div>
        </div>
        <div class="control">
            <button type="submit" class="button is-primary">Calculate Bill</button>
        </div>
    </form>
{% endblock %}