{% extends "billing/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2 class="title">Login</h2>
    {% if messages %}
        <div class="notification is-danger">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="text" name="username" placeholder="Username" autocomplete="username">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" name="password" placeholder="Password" autocomplete="current-password">
            </div>
        </div>
        <a href="{% url 'password_reset' %}">Forgot your password?</a>
        <div class="control">
            <button type="submit" class="button is-primary">Login</button>
        </div>
    </form>
{% endblock %}
