html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.navbar, .footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.navbar-item, .footer-content {
    color: white;
    transition: color 0.5s;
}

.navbar-burger span {
    background-color: white;
}

.navbar-burger {
    display: none;
    cursor: pointer;
}

.navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.hero {
    color: black;
    background: rgba(255, 255, 255, 0.8);
    transition: background-color 0.5s, color 0.5s;
}

.hero-body {
    padding: 2rem;
}

@media (max-width: 768px) {
    .navbar-burger {
        display: block;
    }
    .navbar-menu {
        display: none;
    }
    .navbar-menu.is-active {
        display: block;
    }
}
